<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MappingContext" connectionString="metadata=res://*/MappingModel.csdl|res://*/MappingModel.ssdl|res://*/MappingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=152.14.106.21;initial catalog=fujitsu;persist security info=True;user id=testuser;password=Fujitsu25!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>